site_name: Slime Rancher Modding Guide
theme:
  name: material
  favicon: images/logo.png
  # palette:
  #   - scheme: default
  #     primary: pink
  #     accent: light-blue
  #     toggle:
  #       icon: material/weather-night
  #       name: Switch to dark mode
  #   - scheme: slate
  #     primary: pink
  #     accent: orange
  #     toggle:
  #       icon: material/weather-sunny
  #       name: Switch to light mode
  palette:
  - media: "(prefers-color-scheme)"
    toggle:
      icon: material/link
      name: Switch to light mode
  - media: "(prefers-color-scheme: light)"
    scheme: default
    primary: pink
    accent: pink
    toggle:
      icon: material/toggle-switch
      name: Switch to dark mode
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: deep purple
    accent: deep purple
    toggle:
      icon: material/toggle-switch-off
      name: Switch to system preference
  
  features:
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    # - content.footnote.tooltips
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.progress
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate

nav:
  - Homepage: index.md
  - Slime Rancher:
    - Introduction: guide/slimerancher/introduction.md
    - Getting Started: guide/slimerancher/getting-started.md
    - Project Setup: guide/slimerancher/project-setup.md
  - Slime Rancher 2:
    - Project Setup: guide/slimerancher2/getting-started.md
  - Utilities:
    - None
  - Harmony:
    - None

plugins:
  - glightbox

markdown_extensions:
  - tables
  - admonition
  - attr_list
  - md_in_html
  
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true

  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.blocks.caption

  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde

extra_css:
  - stylesheets/extra.css